.gameWrapper{
    display:flex;
    align-items:center;
    justify-content:center;
    min-height: 100vh;
    background: #1bb295;
}

.wrapper{
    width: 430px;
    background: #fff;
    border-radius: 10px;
}

.gameWrapper h1{
    font-size: 25px;
    font-weight: 500;
    padding: 20px 25px;
    border-bottom: 1px solid #ccc;
}

.wrapper .content{
    margin: 25px 25px 35px;
}

.content .inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input input{
    height: 57px;
    width: 56px;
    margin: 4px;
    border: 1px solid #ccd;
    background: none;
    font-size: 24px;
    text-align: center;
}

.content .details{
    margin: 20px 0 25px;
}

.header {
    overflow: hidden;
    background-color: gray;
    border-radius: 2vh;
    border-color: black;
    border: 1px solid;
    display: flex;
    padding: 2vh;
}

.header p{
    align-items: flex-start;
}

.header p.logo{
    font-size: 3vh;
    font-weight: 700;
}

.links:hover{
    background-color: white;
    color: black;
}

.header .headerright{
    margin-left: auto;
    align-content: flex-end;
    vertical-align: text-bottom;
    align-items: center;
    display: flex;
}

.headerright .links{
    font-size: 2vh;
    padding: 2vh;
    border: 1px solid;
    border-radius: 2vh;
    cursor: pointer;
    margin-right: 1vh;
}